extends layout

block append head
  link(rel='stylesheet', type='text/css', href='/css/dataTables.bootstrap.min.css')
  style.
    table td, table th {
      text-align: center;
    }

block append scripts
  script(src='/js/jquery.dataTables.min.js')
  script(src='/js/dataTables.bootstrap.min.js')
  script.
    $(document).ready(function() {
      $('#logins').DataTable({
        "paging": true,
        "stateSave" : true,
        "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
      });
    } );

block content
  h2 Member Login Tracking
  table#logins.table.table-striped.table-hover.table-bordered
    thead
      tr
        th Corporation
        th Name
        th Join
        th Last Login
        th Last Logoff
    tbody
      each member in members
        tr
          td.text-left
            img(width='32px', height='32px', src='//image.eveonline.com/Corporation/' + member.corporationID + '_32.png')
            |  #{member.corporationName}
          td.text-left
            img(width='32px', height='32px', src='//image.eveonline.com/Character/' + member.characterID + '_32.jpg')
            |  #{member.name}
          td= member.startDateTime.toISOString().slice(0,10)
          td= member.logonDateTime.toISOString().replace('T', ' ').slice(0,-5)
          td= member.logoffDateTime.toISOString().replace('T', ' ').slice(0,-5)
